.logo-container {
  z-index: 0;
  width: 400px;
  height: 609px;
  position: absolute;
  top: 30%;
  right: 10%;
  bottom: 0;
  left: auto;
  margin: auto;
  transform-style: preserve-3d;
  animation: jackInTheBox 1s 0.3s forwards;
  animation-delay: 1s;
  display: inline;
}

.main-image {
  width: 60%;
  animation: tada 1s 1.8s forwards;
  animation-delay: 1s;
  margin-left: 25%;
}

.sec-image {
  width: 30%;
  animation: tada 2s 2s forwards;
  animation-delay: 1s;
}

#mouse {
  margin-bottom: -20%;
  rotate: (0.05turn);
}

#headphone {
  margin-left: 85%;
  margin-top: -20%;
  rotate: (0.04turn);
}

@media screen and (max-width: 480px) {
  .sec-image {
    display: none;
  }

  .main-image {
    margin-top: -140px;
    margin-left: 140px;
  }

  .logo-container {
    width: 100%;
    display: block;
    position: static;
  }
}
