.page {
  width: 100%;
  height: 100%;
  position: absolute;
}

.home-page,
.contact-page {
  .text-zone {
    position: absolute;
    left: 14%;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    max-height: 90%;
  }

  h1 {
    color: white;
    font-size: 53px;
    margin: 0;
    font-weight: 800;

    &:before {
      content: '<h1>';
      font-weight: 100;
      color: #00dbd9;
      font-size: 18px;
      position: absolute;
      margin-top: -27px;
      left: -20px;
    }

    &:after {
      content: '<h1>';
      font-weight: 100;
      color: #00dbd9;
      font-size: 18px;
      position: absolute;
      margin-top: 37px;
      margin-left: 10px;
      animation: fadeIn 1s 1.7s backwards;
    }
  }

  h2 {
    color: #fe93e2;
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    animation: fadeIn 1s 1.8s backwards;
  }
}

.top-tags {
  bottom: auto;
  top: 35px;
}

.tags {
  color: #00dbd9;
  position: absolute;
  bottom: 10px;
  left: 150px;
  font-size: 18px;
}

.bottom-tag-html {
  margin-left: -20px;
}

.container {
  width: 100%;
  will-change: contents;
  height: 90%;
  min-height: 566px;
  position: absolute;
  opacity: 0;
  top: 5%;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}

p {
  font-weight: 400;
  font-size: 13px;
  color: white;
  min-width: fit-content;
  animation: bounce 1s;

  &:nth-of-type(1) {
    animation-delay: 1.1s;
  }

  &:nth-of-type(2) {
    animation-delay: 1.2s;
  }

  &:nth-of-type(3) {
    animation-delay: 1.3s;
  }

  &:nth-of-type(4) {
    animation-delay: 1.4s;
  }
}

@media screen and (max-width: 480px) {
  .home-page .text-zone {
    margin-top: 200px;
    width: 100%;
    position: static;
    display: block;
  }

  .home-page h1 {
    font-size: 40px;
    padding: 10px;
    padding-top: 130px;
    padding-left: 30px;

    &:before {
      font-size: 18px;
      position: absolute;
      margin-top: -27px;
      left: 15px;
    }

    &:after {
      font-size: 18px;
      position: absolute;
      margin-top: 24px;
      margin-left: 10px;
      animation: fadeIn 1s 5s backwards;
    }
  }

  .home-page h2 {
    font-size: 15px;
    text-align: center;
  }

  .tags, .top-tags {
    display: none;
  }
}
