.about-page {
  display: flex;
  justify-content: space-between;

  .card-zone {
    position: absolute;
    left: 65%;
    top: 50%;
    transform: translateY(-50%);
    width: 30%;
    vertical-align: middle;
    max-height: 90%;

    .cards {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .card {
      height: 100px;
      width: 100px;
      color: #2d1242;
      font-size: 11px;
      font-weight: 400;
      margin: auto;
      margin-top: 10px;
      text-align: center;
      border-radius: 4px;
      animation: flipInY 2s 3s;

      &:nth-of-type(1) {
        background: #fee5de;
        animation-delay: 1.1s;
      }

      &:nth-of-type(2) {
        background: #fee5de;
        animation-delay: 1.2s;
      }

      &:nth-of-type(3) {
        background: #fee5de;
        animation-delay: 1.3s;
      }

      &:nth-of-type(4) {
        background: #fee5de;
        animation-delay: 1.4s;
      }

      &:nth-of-type(5) {
        background: #fee5de;
        animation-delay: 1.5s;
      }

      &:nth-of-type(6) {
        background: #fee5de;
        animation-delay: 1.6s;
      }

      &:nth-of-type(7) {
        background: #fee5de;
        animation-delay: 1.7s;
      }

      &:nth-of-type(8) {
        background: #fee5de;
        animation-delay: 1.8s;
      }

      &:nth-of-type(9) {
        background: #fee5de;
        animation-delay: 1.9s;
      }

      &:nth-of-type(10) {
        background: #fee5de;
        animation-delay: 2s;
      }

      &:nth-of-type(11) {
        background: #fee5de;
        animation-delay: 2.1s;
      }

      &:nth-of-type(12) {
        background: #fee5de;
        animation-delay: 2.2s;
      }

      &:nth-of-type(13) {
        background: #fee5de;
        animation-delay: 2.3s;
      }

      &:nth-of-type(14) {
        background: #fee5de;
        animation-delay: 2.4s;
      }

      &:nth-of-type(15) {
        background: #fee5de;
        animation-delay: 2.5s;
      }

      &:nth-of-type(16) {
        background: #fee5de;
        animation-delay: 2.6s;
      }

      &:hover {
        animation: pulse 1s;
      }

      .card-icon {
        padding-top: 5px;
        font-size: 60px;
        margin-bottom: -12px;
      }
    }
  }

  .text-zone {
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;

    h1 {
      font-size: 53px;
      font-weight: 800;
      margin-top: 0;
      position: relative;
      margin-bottom: 20px;
      left: 10px;
      color: #fe93e2;

      &::before {
        content: '<h1>';
        color: #00dbd9;
        font-weight: 100;
        font-size: 18px;
        position: absolute;
        margin-top: -17px;
        left: -10px;
        line-height: 18px;
      }

      &::after {
        content: '<h1>';
        font-weight: 100;
        color: #00dbd9;
        font-size: 18px;
        position: absolute;
        margin-top: 37px;
        margin-left: 10px;
        animation: fadeIn 1s 1.7s backwards;
      }
    }
  }
}

.title-sign-skill {
  margin-left: 62%;
  margin-top: 4%;
  background: #b178ff;
  max-width: fit-content;
  max-height: 30px;
  color: white;
  padding: 10px;
  border-radius: 20px;
  text-transform: uppercase;
  animation: bounce 3s 3s;
  rotate: -0.045turn;
  position: absolute;
  z-index: 1;

  &:hover {
    animation: tada 1s;
  }
}

@media screen and (max-width: 480px) {
  .about-page .card-zone .cards {
    margin-top: 65%;
  }

  .about-page .card-zone .card {
    width: 54px;
    height: 54px;
    font-size: 0;

    .card-icon {
      padding-top: 5px;
      font-size: 35px;
      margin-bottom: -12px;
    }
  }

  .about-page .text-zone p {
    font-size: 10px;
    text-align: justify;
    margin-left: -35px;
    width: 200px;
  }

  .title-sign-skill {
    display: none;
  }

  .about-page .text-zone h1 {
    margin-left: -30px;
    margin-top: 60px;
    font-size: 25px;
    margin-bottom: 20px;

    &:before {
      margin-left: -10px;
      font-size: 14px;
    }

    &:after {
      font-size: 14px;
      margin-top: 12px;
      animation: fadeIn 1s 2.2s backwards;
    }
  }
}
