$color: #b178ff;
$color-dark: darken($color, 10%);
$color-border: rgba(darken($color, 60%), .45);
$color-text: white;

.flat-button {
  color: $color-text;
  background: $color;
  border-radius: 3em;
  border: 0;
  border: 3px solid $color-border;
  outline: none;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 10px 18px;
  margin-top: 25px;
  float: left;
  transform-style: preserve-3d;
  transition: all 150ms cubic-bezier(175, 885, 32, 1.275);

  &:before {
    background: $color-dark;
    border-radius: inherit;
    box-shadow:
      0 0 0 2px $color-border,
      0 .6em 0 0 rgba($color, .075);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate3d(0, .75em , -1em);
    transition: all 150ms cubic-bezier(175, 885, 32, 1.275);
    width: 100%;
  }

  &:hover {
    transform: translate(0, .25em);

    &:before {
      box-shadow:
        0 0 0 2px $color-border,
        0 .45em 0 0 rgba($color, .075);
      transform: translate3d(0, .5em, -1em);
    }
  }

  &:active {
    background: $color;
    transform: translate(0, .75em);

    &::before {
      box-shadow:
        0 0 0 3px $color-border,
        0 0 $color;
        transform: translate3d(0, 0, -1em);
    }
  }
}
