$color: #00DBD9;
$color-dark: darken($color, 10%);
$color-border: rgba(darken($color, 60%), .45);
$color-text: white;

.contact-page {
  top: 10%;
}

.contact-form {
  top: 100%;
  width: 100%;
  margin-top: 380px;

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      overflow: hidden;
      display: block;
      position: relative;
      opacity: 0;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
      clear: both;
      border-radius: 10px;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type="text"],
  input[type="email"] {
    width: 100%;
    border: 0;
    background: #60428a;
    height: 50px;
    font-size: 16px;
    color: white;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    border: 0;
    background: #60428a;
    border-radius: 10px;
    height: 50px;
    font-size: 16px;
    color: white;
    padding: 20px;
    min-height: 150px;
    box-sizing: border-box;
  }

  .contact-button {
    color: $color-text;
    background: $color;
    border-radius: 3em;
    border: 0;
    border: 3px solid $color-border;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 10px 10px;
    float: right;
    font-size: 20px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 10px;


    &:before {
      background: $color-dark;
      border-radius: inherit;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &:hover {
      animation: pulse 1s;
      background: $color-dark;
    }
  }
}

.text-link {
  text-decoration: none;
  font-weight: bold;
  color: #B178FF;


  &:hover {
    color: #60428a;
  }
}

.mobile-size-contact {
  display: none;
}

@media screen and (max-width: 480px) {
  .contact-page .text-zone {
    width: 75%;
    height: 30%;
    position: static;
    margin-top: 120px;
    margin-left: 15%;
  }

  .contact-page .text-zone h1 {
    margin-left: -30px;
    font-size: 25px;

    &:before {
      margin-left: -30px;
      font-size: 14px;
    }

    &:after {
      font-size: 14px;
      margin-top: 12px;
      margin-left: 10px;
      animation: fadeIn 1s 2.2s backwards;
    }
  }

  .contact-page .text-zone p {
    font-size: 10px;
    margin-left: -5%;
    text-align: justify;
  }

  .contact-form {
    display: none;
  }

  .mobile-size-contact {
    display: grid;
    margin-top: 30px;
  }

  .meu-email {
    background-color: #00DBD9;
    text-decoration: none;
    font-weight: bold;
    color: #60428a;
    width: fit-content;
    padding: 4px;
    margin: 20px auto;
    border-radius: 3px;
    font-size: 20px;
  }

  .normal-size-contact {
    display: none;
  }
}
